@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200;400&family=Clicker+Script&family=Lato:ital,wght@1,300&family=Libre+Franklin:wght@200&family=Playfair+Display:wght@700&family=Poppins:wght@100;200;300;400;500;600&family=Roboto+Condensed&family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto Condensed', sans-serif;*/
/* font-family: 'Playfair Display', serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --body_background:white;
  --body_color:black;
  --link_color:navy;
}
[data-theme="dark"]{
  --body_background:#282c34;
  --body_color:white;
  --link_color:cyan;
}